html,
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Encode Sans Compressed", serif;
  /* font-family: "Euphemia UCAS", serif; */
}

:root {
  --bg-color: #fcf0ec;
  --text-color: #000;
  --shadow-line-color: #000;
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown: #fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown: #915b40;
}

.no-margin {
  margin: 0 !important;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.main-hero .flex-box {
  align-items: center;
}

.subheading {
  font-family: monospace;
  margin-top: -50px;
  letter-spacing: 0px;
  font-size: 20px;
}

.normal-heading {
  font-size: 60px;
  margin-bottom: 50px;
  letter-spacing: 8px;
}

.text-outline {
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.text-outline.text-white {
  -webkit-text-stroke: 2px #fff;
  text-stroke: 2px #fff;
}

.rl-title {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  position: absolute;
  font-family: monospace;
  z-index: 1;
  font-size: 20px;
  right: -47px;
  top: 0px;
  font-weight: 300;
}

.aqil-main {
  width: 350px;
  font-family: monospace;
  position: relative;
}

.aqil-main img {
  position: relative;
  z-index: 1;
}

.aqil-title .box__title-inner {
  font-size: 32px;
}

.aqil-main>img {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.grid-line-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid-line-container .grid-line {
  height: 100vh;
  border-left: 1px solid #ffcdbcc7;
}

.front-text {
  font-size: 30px;
  font-weight: 300;
}

.front-text span {
  font-weight: 300;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hi2 {
  font-size: 20px;
  font-weight: 400;
  transform: rotate(-90deg);
  margin-right: -148px;
}

.main-hero {
  width: 100%;
  /*height: 100vh;*/
}

.hi2 h1 {
  margin: 0;
}

.spacethis {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.flex-box .grid {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 7px;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #000255ba;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

.svg-skill-chart {
  width: 100%;
  height: 100%;
}

.small-text {
  font-family: monospace !important;
  font-size: 14px !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-full-mobile {
  position: relative;
  margin: 50px auto;
  padding-bottom: 50px;
}

.swiper-full-mobile:before {
  content: "";
  width: 265px;
  background: url(http://md-aqil.github.io/images/Pixel-3-XL.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 565px;
  z-index: 2;
  margin: auto;
}

.swiper-full-mobile .swiper-slide {
  height: 100%;
}

.swiper-full-mobile .swiper-slide img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}


.icon-verticle-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.icon-verticle-list li {
  padding: 10px 15px;
}

.icon-verticle-list li img {
  width: 30px;
}

.navbar {
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar ul li {
  padding: 0 10px;
}

.flex-codepen .flex-item {
  flex-basis: 350px;
  flex-grow: 1;
  margin: 10px;
}

.cp_embed_wrapper {
  width: 100%;
}

.floating-image {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 10px;
  position: absolute;
  left: 90px;

  object-fit: cover;
  box-shadow: 0px 0 11px #0000000f;
}

.exp-time {
  list-style: none;
  border-left: 2px solid #000;
  padding-left: 20px;
}

.exp-time li {
  position: relative;
  margin-bottom: 50px;
}

.exp-time li:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #000;
  display: block;
  position: absolute;
  left: -26px;
}

.freelance-list a {
  color: #fff;
  border: 1px solid #fff;
  padding: 4px;
  font-size: 20px;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
}

.freelance-list a:hover {
  background: #fff;
  color: #000;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  border-radius: 1px;
}

footer {
  background: #f5e3de;
  height: 80px;
  display: flex;
  align-items: center;
}

footer .navbar {
  justify-content: space-between;
  margin-bottom: 0;
  height: inherit;
}

.navbar li a>img {
  width: 30px;
  height: 30px;
}

.box__title-inner {
  font-size: 30px;
}

.box__title {
  right: -35px;
  top: -50px;
}

.box__title--bottom {
  bottom: -35px;
  top: auto;
}

.box__img {
  filter: grayscale(0);
}

:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown: #fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown: #915b40;
  --light-yellow: #f8e3a8;
  --light-red: #f3ac99;
  --light-teal: #a6c8cc;
  --light-gray: #ddd5d6;
  --default-color: #a6c8cc;
  --secondry-color: #e89a3d;
}

.spacer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.spacer-bottom {
  padding-bottom: 50px;
}

.spacer-top {
  padding-top: 50px;
}

.por {
  position: relative;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .subtitle {
  padding-left: 60px;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  color: red !important;
}

.swiper-pagination-line {
  width: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  margin: auto;
  align-self: center;
  justify-self: center;
}

.colored-container {
  /* display: flex; */
  width: 95%;
  height: 80vh;
  position: relative;
  /* background: #fff; */
  border: 5px solid #000;
  margin: auto;
  /* box-sizing: content-box; */
  padding: 20px;
}

.halfbox {
  font-family: lato;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--default-color);
  width: 30%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.slidebox {
  position: relative;
  width: 60%;
}

.bordered-img {
  /* width: 400px; */
  position: relative;
}

.bordered-img img {
  width: 100%;
  height: 100%;
  border: 10px solid #000;
}

.bordered-img:after {
  border-color: var(--secondry-color);
  top: 0;
  /* left: 2px; */
  width: 29%;
  right: -10px;
  border-left-width: 0;
}

.title {
  font-size: 50px;

  text-transform: uppercase;
  position: relative;

  letter-spacing: 3px;
  font-weight: bold;
  margin-left: 18px;
  color: var(--secondry-color);
}

.title>span {
  color: var(--default-color);
  margin-right: 15px;
}

.tag-box {
  background: var(--default-color);
  border: 3px solid #fff;
  position: absolute;
  left: -95px;
  cursor: pointer;
  top: 70px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 0 22px #00000029;
  font-family: Lato;
  padding: 13px 50px;
}

.swiper-slide .subtitle {
  font-size: 18px;
  color: #888;
  font-weight: 300;
  padding: top;
  margin: 15px 0;
  margin-bottom: 50px;
}

.content-box {
  position: absolute;
  left: 62%;
  width: 300px;
  top: 8%;
  text-align: right;
}

.btn.btn-main {
  background: var(--secondry-color);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  position: relative;
  padding: 15px 40px;
}

.btn.btn-main:before {
  content: "";
  width: 5px;
  background: var(--dark-brown);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-nav-wrapper {
  width: 10%;
  position: absolute;
  top: 85%;
  margin: auto;
  left: 120px;
  bottom: 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background: #000;
  padding: 0px;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center;
  padding: 3px;
  box-shadow: bord;
  box-sizing: border-box;
  background-size: 17px !important;
}

.verticle-animation .swiper-slide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  left: 0;
  right: inherit !important;
}

.swiper-pagination-line .swiper-pagination-bullet {
  width: 70%;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  border-radius: 0;
  opacity: 1;
  margin: 6px 0 !important;
  transition: all 0.3s;
}

.swiper-container-vertical .swiper-pagination-bullet-active {
  opacity: 1;
  background: #000000;
  width: 100% !important;
}

.team-info .team-info-item {
  font-size: 22px;
  position: absolute;
  display: none;
}

.team-info .team-info-item.active {
  display: block;
}

@-webkit-keyframes team-info-item {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.team-info-item.active .heading,
.team-info-item.active .content {
  -webkit-animation-name: team-info-item;
  animation-name: team-info-item;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
}

.team-info-item.active .content p {
  font-weight: 300;
}

.team-info-item.active .content {
  -webkit-animation-delay: 0.2s;
}

.swiper-container.gallery-thumbs {
  width: 100px;
}

.swiper-container.gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px !important;
}

.swiper-container.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.tchlist {
  list-style: square;
  padding-left: 20px;
}

.tchlist li {
  font-size: 16px;
  padding: 6px 0;
}

.content h4 {
  margin: 0;
  font-size: 17px;
  font-weight: bolder;
  margin-left: -20px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.team-info .heading {
  margin: 0;
}

.tcheading {
  margin: 0;
  font-weight: 400;
}

.photo-card-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  flex-wrap: wrap;
}

.photo-card {
  flex-basis: 22%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.photo-card-wrapper h4 {
  margin: 0;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: -5px;
}

.photo-card-wrapper h4 a {
  color: #000;
}

.photo-card-wrapper p {
  color: #545454;
}

.photo-card-wrapper a {
  color: #c6400b;
}

.tag {
  position: absolute;
  background: #38c500;
  color: #fff;
  padding: 3px 15px;
  font-size: 13px;
  font-weight: bold;
  font-family: Lato;
}

.colored-container .tag {
  top: -29px;
  left: -5px;
}

.photo-card-wrapper .tag {
  left: 0;
  bottom: 20px;
}

.photo-card-img {
  width: 100%;
  height: 300px;
  position: relative;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 8px 0px #c6412a3b;
  border-radius: 3px;
}

.theme-topcolor {
  width: 100%;
  height: 400px;
  background: crimson;
}

.product-image-col img {
  width: 100%;
}

.product-image-col img {
  box-shadow: 0px -1px 7px #00000038;
}

.flex-col2 {
  flex-basis: 45%;
}

.top-single-container {
  margin-top: -200px;
  font-family: Lato;
}

.cbox {
  box-shadow: 0 0 50px #00000030;
  padding: 20px 20px;
  margin-top: 100px;
  background: #000;
  position: relative;
}

.top-title {
  font-size: 50px;
}

.cbox a {
  background: #fff;
  color: #000;
  padding: 10px 30px;
  position: absolute;
  top: 50px;
  right: -50px;
  font-size: 18px;
}

.read {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
}

.swiper-full-mobile .swiper-slide.swiper-slide-active img {
  border-radius: 20px;
}

.nav-text-white li a {
  color: #fff;
}

.line-shadow {
  position: relative;
}

.about-wraper {
  display: flex;
}


.about-quote {
  font-family: lato;
  font-size: 26px;
  line-height: 1.5;
  margin: auto;
  position: relative;
  padding-right: 80px;
  color: #3c3c3c;
  font-weight: 400;
}

.about-img {
  width: 450px;
  height: 550px;
  object-fit: cover;
  object-position: top;
}


.swiper-loop .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.about-col {
  width: 60%;
}

.font-lato {
  font-family: Lato;
}

.tp-title {
  font-size: 25px;
  margin-top: -30px;
}

.swiper-loop .swiper-slide img {
  width: 60px;

}

.navbar li a {
  font-weight: bold;
}