.hero-section {
    position: relative;
}
.pdf-full-view {
    width: 100%;
    height: 700px;
}
.title {
font-weight: 900;
font-size: 43px;
letter-spacing: 0.01em;
color: #000;

}
.width100 {
    width: 100%;
}
.theme-text {
color: var(--theme-color1);
}
.subtitle {
font-weight: 600;
font-size: 20px;
margin-top: 15px;
}
.line {
    margin-top: 15px;
margin-bottom: 15px;
}
.paragraph {
font-weight: normal;
font-size: 16px;
line-height: 32px;
text-align: left;
color: #676767;

}
.welcome {
font-weight: 300;
font-size: 30px;
letter-spacing: 0.22em;
text-align: left;
color: #6b00aa;

}
.intro {
font-weight: 600;
font-style: italic;
font-size: 53px;
color: var(--theme-color1);

}
.what-do {
font-weight: 700;
font-size: 50px;
color: var(--theme-color1);

}
.hero-content-row {
    align-items: center;
    margin-top: 130px;
   
}
.hero-section .collapse.navbar-collapse {
    align-self: flex-end;
    
}
.hero-section .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.hero-section .navbar-nav .nav-item  {
    margin-left: 20px;
    margin-left: 20px;
    color: rgb(0 0 0 / 89%);
}
.hero-section .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--theme-color1);
}
.hero-art {
    width: 120%;
    position: absolute;
    bottom: -50px;
}
.btn.btn-primary {
    background: var(--theme-color1);
    border-color: var(--theme-color1);
}
.btn-round {
    border-radius: 40px;
}
.box-icon {
    width: 40px;
    margin-bottom: 20px;
    box-shadow: 10px -9px 1px rgb(237 30 121 / 21%);
}

.card .paragraph{
    line-height: 1.5;
    margin-bottom: 0;
}
.service-row .card {
    border: none;
    border-radius: 2px;
    padding: 10px;
    border-top: 2px solid transparent;
    transform: all .3s;
    margin-top: 10px;
    background: none;
    border-radius: 4px;
    padding-bottom: 5px;
}
.service-row .card .card-link {
    color: var(--theme-color1);
    margin-top: 15px;
    display: block;
    /* display: none; */
    opacity: 0;
    transform: translateY(30px);
	transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.service-row .card:hover {
background: #fff;
box-shadow: 0px 1px 10px rgba(237, 30, 121, 0.08);
border-color: var(--theme-color1);
}
.blog-cards .glass {
    background: var(--gradient);
}

.service-row .card:hover .card-link {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
    
    
}
.cta {
    /* background: url(../img/cta1.png) center no-repeat var(--theme-color2); */
    width: 100%;
    /* height: 352px; */
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
.cta h1 {
font-style: italic;
font-size: 48px;
color: #fff;
text-align: center;
letter-spacing: 0.01em;

}

/* testimonial */

.c-container {
margin: auto;
width: 93%;
position: relative;
z-index: 1;
}

.btn-outline-white {
color: #fff;
background-color: rgba(255, 255, 255, 0.1);
background-image: none;
border-width: 2px;
border-color: #fff;
font-weight: 500;
-webkit-transition: all .2s;
transition: all .2s;
}
.btn {
border-radius: 5px;
font-weight: normal;
font-size: 15px;
letter-spacing: 0.02em;
line-height: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 14px 30px;
cursor: pointer;
}
.btn-outline-white:hover {
background-color: #fff;
color: var(--text-dark);
}
/* common css up */

.testimonial p {
font-size: 28px;
letter-spacing: 0.02em;
line-height: 35px;
}
.testimonial .name {
font-weight: bold;
font-size: 18px;
letter-spacing: 0.04em;
line-height: 35px;
text-align: left;
}

.blog-cards .card .card-img {
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 240px;
    object-fit: cover;
}

.testimonial .designation {
font-size: 14px;
letter-spacing: 0.04em;
text-align: left;
color: #fff;
opacity: 0.65;
}
.unt {
margin-bottom: 20px;
margin-top: 60px;
}
.hero-text {
font-size: 30px;
letter-spacing: 0.02em;
color: #fff;
}
.gallery-thumbs {
height: 100%;
}
.gallery-thumbs .swiper-wrapper {
align-items: center;
}

/* .gallery-thumbs .swiper-slide {
background-position: center;
background-size: cover;
width: 250px !important;
height: 330px;
position: relative;
} */
.gallery-thumbs .swiper-slide img {
filter: contrast(0.5) blur(1px);
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
filter: contrast(1) blur(0px) !important;
}
.flex-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.flex-row .flex-col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}


.testimonial-section .quote {
width: 95%;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
padding-left: 100px;
padding-right: 100px;
}
.swiper-container.testimonial {
height: 80vh;
}
.testimonial-section .user-saying {
  
    background: var(--gradient);
   
width: 60%;
color: #fff;
height: 100%;
}
.testi-user-img {
width: 40%;
}
.testimonial-section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
width: 100%;
height: 100%;
}
.testimonial-section .quote p {
font-size: 20px;
font-weight: 300;
line-height: 1.8;
font-style: italic;
margin: 0;
}
.quote-icon {
width: 38px;
display: block;
margin-bottom: 30px;
}

/* Gallery */
#filter {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
.card.glass {
    padding: 15px;
    margin-top: 15px;
}
.card.glass * {
    color: #fff;
}
.card .paragraph {
    font-weight: 300;
}
#filter li a {
    color: var(--theme-color2);
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}
#filter li  {
    padding: 6px 6px;
}



#portfolio {
    list-style: none;
    padding-left: 0;
}
#portfolio li {
    display: flex;
    flex-wrap: wrap;
}
#portfolio li a {
    color: var(--theme-color1)
}
.gallery-item {
    display: flex;
    width: 340px;
height: 350px;
background: transparent;
margin: 15px;
flex-grow: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 8px 0px rgb(237 30 121 / 21%);
    border-radius: 3px;
}
.gallery-item {
    position: relative;
}
.gallery-item .overlay{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(15 15 15 / 83%) 100%);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
padding: 15px;
display: flex;
flex-direction: column;
justify-content: flex-end;
color: #fff;
}

.gallery-item .overlay p {
    font-size: 15px;
    color: #ffffffe3;
}
.gallery-item .overlay h4{
    font-size: 18px;
}

.tag {
    position: absolute;
    background: var(--theme-color1);
    color: #fff;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    top: 20px;
    left: 0;
}
.frame {
    position: relative;
}
.hero-banner .swiper-slide {
    width: 500px;
    border-radius: 30px;

}
.hero-banner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    object-position: top;
}
.char {
    position: absolute;
    bottom: 17px;
    width: 660px;
    left: -70px;
}
.circle-art {
    width: 500px;
    height: 500px;
    position: relative;
}
.img-tab {
    border: 15px solid #eaeaea;
        border-radius: 20px;
        box-shadow: 1px 1px 20px #0000004d;
        margin: auto;
        display: block;
        position: relative;
        margin-top: -170px;
        margin-bottom: 50px;
}
.circle-art img {
    position: absolute;
}
.abt-frame {
    z-index: 1;
    top: -60px !important;
    left: -56px;
}
.bg-lite {
    background-color: #ffbfcb82;
}
.spin {
    animation-name: spin;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.spin-left {
    animation-name: spin-left;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin-left {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
       
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.circle-abstract {
    position: relative;
    overflow: hidden;
}
.circle-abstract:before {
    display: block;
    content: '';
    background: url(../img/frame/circle-art.png);
    
}
.blog-cards .card {
    border: none;
}
.blog-cards .card .card-img{
    
border-radius: 40px;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.card.glass {
    border-radius: 10px;
}
.blog-cards .card .card-body {
    padding-left: 0;
    padding-bottom: 0;
}
.blog-cards .card .card-body a {
    margin-top: 15px;
    display: block;
}

.contact-box {
    width: 313px;
height: 215px;
border-radius: 5px;
background: #fff;
box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.06);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: auto;

}
.contact-box img{
    width: 80px;
    margin-bottom: 30px;
}
.contact-box a {
text-decoration: none;
font-size: 18px;
letter-spacing: 0.01em;
color: #6b00aa;
font-weight: 300;

}
.grade-box .container {
    position: relative;
    z-index: 1;
}
.grade-box .hero-art {
    bottom: 0;
}
.footer {
    overflow: hidden;
}
.contact-form {
    width: 80%;
    margin: 50px auto;
    color: #fff;
}
.contact-form label {
    font-weight: 300;
    
}
.contact-form  .form-control{
height: 50px;
border-radius: 3px;
background: #451376;
border: none;
color:#fff;

}
.contact-form .form-group {
    margin-bottom: 40px;
}
.btn-round {
    border-radius: 40px;
}
.z-index-1 {
    position: relative;
    z-index: 1;
}
.f-list {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
.f-list li a {
    display: block;
    padding: 8px 0;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

.h4-title {
    margin: 0;
    color: var(--theme-color1);
    font-size: 17px;
    margin-bottom: 20px;
}
.subscribe .form-control {
border-radius: 3px;
background: #451376;
border-color: #451376;
margin-right: 10px;
}
.fw-300 {
    font-weight: 300;
}

.btn-shine{
    display: inline-block;
    background: var(--theme-color1);
    border: none;
   padding: 10px 50px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition:300ms;
    text-decoration: none;
}
.btn-shine:hover {
  text-decoration: none;
  color: #fff;
}
.btn-shine span{
    z-index: 93;
    position: relative;
}
.btn-shine:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:-105%;
    transition:300ms;
    background: rgba(255,255,255,0.52);
    transform:skew(-30deg);
    top: 0;
}
.btn-shine:hover:before{
    left: 105%;
    
}
.btn-shine:hover{
  cursor:pointer;
}
.curve-box {
    
    -webkit-border-radius: 50%/14% !important;
    border-radius: 50%/14% !important;
    position: relative !important;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    height: 55px !important;
    background: linear-gradient(#ed1e79 , #53277e) !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
    border: none;
    width: 65px !important;
    font-size: 36px;
    color: #fff;
    height: 70px !important;
}
.fill_color {
	background: linear-gradient(#ed1e79 , #53277e) !important;
	 -webkit-background-clip: text !important;
	 -webkit-text-fill-color: transparent;
}
.style-text {
    --speed: 15s;
   background: url(../img/Scroll-bg.png) center no-repeat;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: bolder;
    background-position: 0px 0px;
  -webkit-animation: animatedBackgroundtop var(--speed) linear infinite;
  -moz-animation: animatedBackgroundtop var(--speed) linear infinite;
  animation: animatedBackgroundtop var(--speed) linear infinite; 
}

@keyframes animatedBackground {
    from {
      background-position: 0px 0px; }
  
    to {
      background-position: 100% 0px; } 
  }
  
  @-webkit-keyframes animatedBackground {
    from {
      background-position: 0px 0px; }
  
    to {
      background-position: 100% 0px; } 
  }
  
  @keyframes animatedBackgroundtop {
    from {
      background-position: 0px 0px; }
  
    to {
      background-position: 0% 100%; } 
  }
  
  @-webkit-keyframes animatedBackgroundtop {
    from {
      background-position: 0px 0px; }
  
    to {
      background-position: 0% 100%; } 
  }

.service-row i {
    font-size: 45px;
    display: block;
    margin-bottom: 20px;
}

:root {
    --theme-color: #3950ca;
    --bg-color: rgba(79, 48, 183, 0.06);
    --comp-color: #ff6584;
    --gradient: linear-gradient( #ec8e7d 30%, #ed1e79 90%);

  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
  body {
       font-family: 'Poppins', sans-serif;
    margin:0;
    pading:0
  }
  .text-center {
    text-align:center;
    
  }
  .bg-color {
    background: var(--bg-color);
  }
  
  .half-color-box {
    background: var(--gradient);
    height: 300px;
    margin-bottom: 100px;
  }
  
  .text-whtie {
    color: #fff !important;
  }
  
  .bold {
    font-weight: bolder;
  }
  
  .por {
    position: relative;
  }
  
  .review-box .quote {
    position: absolute;
    width: 40px;
    right: 10px;
    bottom: 10px;
  }
  
  .test-arrowbox {
    position: absolute;
    right: 20px;
    display: flex;
    top: 70px;
  }
  
  .review-box {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .review-box h5 {
    margin: 0;
  }
  
  .review-box p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #7d8597;
  }
  
  .user-post {
    font-size: 14px;
    margin: 0 !important;
   
  }
  
  .swiper-testimonial {
    padding: 100px 20px;
    padding-top: 30px;
  }
  
  .half-color-box {
    background: var(--gradient);
    height: 300px;
    margin-bottom: 140px;
  }
  
  .test-arrowbox .swiper-button-next-test,
  .test-arrowbox .swiper-button-prev-test {
    margin-right: 20px;
    /* background: var(--comp-color);2 */
    border-radius: 50%;
    --size: 55px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-right {
    transform: rotate(180deg);
    margin-top: -8px;
  }
  
  .arrow {
    cursor: pointer;
  }

  .cm-sm {
    width: 154px !important;
    height: 156px !important;
}
.r-layout .r-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -o-object-fit: cover;
    object-fit: cover;
}
 .testimonial-section .user-saying {
    width: 50%;
}
 .testi-user-img {
    width: 50%;
}
.fixed-navigator {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px #00000017;
    top: 0;
    margin: auto;
    bottom: 0;
    height: 375px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 40px;
   
}
.sticky-header {
    opacity: 0;
	will-change: transform, scale, opacity;
	-webkit-transform: translatex(6rem) scale(0.93);
			transform: translatex(6rem) scale(0.93);
	transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sticky-header.fixed {
    opacity: 1;
	-webkit-transform: translateY(0) scale(1);
			transform: translateY(0) scale(1);
}

.scroll-menu {
    list-style: none;
    padding: 0;
}
.scroll-menu .nav-link.active {
   
}
.height-380 {
    height: 380px !important;
    object-fit: cover;
}
.height-300 {
    height: 380px !important;
    object-fit: cover;
}
.scroll-menu .nav-link {
    font-size: 25px;
    color: #464646;
    text-align: center;
}
.scroll-menu .nav-link.active i{
background: linear-gradient(#ed1e79 , #53277e) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.f-list li a:hover {
    text-decoration: none;
    color: var(--theme-color1) !important;
}
.navbar-dark .navbar-nav .nav-link  {
    color: #fff !important;
}
.user-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-thumbs .swiper-slide {
    height: 550px;
}
.testimonial .swiper-slide {
    height: 550px;
}

.testimonial>.swiper-pagination-bullets {
    right: inherit;
    left: 30px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}
.swiperHero {
    position: relative;
    width: 100%;
    height: 100vh;
}
.swiperHero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--theme-color1);
   
}
.swiperHero .swiper-slide .title {
    color:#fff
}
.swiperHero .swiper-slide .subtitle {
    color:#fff
}
.swiperHero .swiper-slide >img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.nav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--theme-color1) !important;
}
.nav-absolute .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    color:#fff;
}

.navbar-nav .nav-link:hover:not(.dropdown-toggle) {
    color: var(--theme-color1) !important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown .dropdown-menu{
    margin-top: -4px;
    border: none;
    box-shadow: 5px 4px 16px #0000000d;
}
.dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: var(--theme-color1);
}

#filter li.active {
    background-color: var(--theme-color1);
    color: #fff;
    border-radius: 40px;
}
#filter li.active a{
    color: #fff;
}

.glass {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
    overflow: hidden;
    border: 1px solid #ffffff96;
 
}
.port-sec {
    overflow-y: scroll;
    height: 100%;
    padding: 30px;
    overflow-x: hidden;
}
.sticky-header.fixed {
    z-index: 10;
}
.cta {
    background: url(../img/cta.png) center no-repeat var(--theme-color2);
    background-size: 100% 100%;
}
.add-bg {
 background: linear-gradient(#ed1e79 , #f49e8e) !important;
    background-size:cover;
    width: 100%;
    padding: 20px;
}
.card.glass {
    transition: all .3s;
}
.card.glass .card-img{
    transition: all .3s;
}
.card.glass:hover {
    /* box-shadow: 0 0 5px #ed1e78, 0 0 25px #19aafc, 0 0 50px #19aafc, 0 0 80px #19aafc; */
    filter: drop-shadow( 0 0 5px #fbb11a) drop-shadow( 0 0 25px #ed1e79) drop-shadow(0 0 30px #ec8e7d) drop-shadow(0 0 40px #ec8e7d);
}
.card.glass:hover .card-img {
    transform: translateY(-15px);

}


.grade-box {
    background: linear-gradient( #ec8e7d, #ed1e79 70%);
    position: relative;
    overflow: hidden;
  
        width: 100%;
    }
.glass:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}


.port-sec::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.port-sec::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.port-sec::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ED1E79;
}
#Path_24706 ,#Path_24707{
    fill: #cb8ce2;
}

.about-art-animation svg{
    width: 100%;
    height: 540px;
}
#restart {
    color: var(--theme-color1);
    cursor: pointer;
}
.subscribe-art svg {
    width: 520px;
    height: 330px;
    position: absolute;
    right: -50px;
}
.work-art svg{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
.trigger2  {
    /* font-size: 60px; */
    z-index: 10;
    background-color: #fff;
    position: relative;
}
.im-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
  }
  .product-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .product-col {
    flex-basis: 30%;
    margin: 12px;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
}
.fl-inline {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.fl-inline li a {
    color: #fff;
    display: block;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 400;
}
.fl-inline li a img {
    margin-bottom: -20px;
    width: 100px;
}
.swiper-full-mobile {
    position: relative;
    margin: 0px auto;
  margin-top: 50px;
  }
  .swiper-full-mobile .swiper-slide.swiper-slide-active {
      /* border-radius: 20px; */
    
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .swiper-full-mobile:before {
    content: "";
    width: 265px;
    /* background: url(http://md-aqil.github.io/images/Pixel-3-XL.png); */
    /* background: url('../img/mockup.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 565px;
    z-index: 2;
    margin: auto;
  }
  
  .swiper-full-mobile .swiper-slide {
    height: 100%;
   
  }
  
  .swiper-full-mobile .swiper-slide img {
    width: 100%;
    height: 530px;
    object-fit: cover;
  }
  
  .swiper-container {
      width: 100%;
      height: 100%;
      
  }
  
  .swiper-loop {
      margin: 40px auto;
      width: 70%;
  }
.swiper-loop .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }
  .swiper-loop .swiper-slide img {
    width: 60px;
  
}
.center-about-cntr {
    width: 75%;
    margin: 0px auto;
}
.top-nav-menu {
    display: flex;
          list-style: none;
          padding: 0;
          align-items: center;
          justify-content: center;
          background: #fff;
          box-shadow: 0 0 10px #00000017;
          border-radius: 60px;
          width: 60%;
          margin: auto;
          margin-top: 30px;
          border: 1px solid #ddd;
  }
  .top-nav-menu .nav-link {
    color: #6d6d6d;
    line-height: 2.5;
    padding-left: 25px;
    padding-right: 25px;
  }
  .top-nav-menu .nav-link:hover {
    color: var(--theme-color1);
  }
  .top-nav-menu .nav-link.active {
          background: none;
          border-bottom: 2px solid var(--theme-color1);
          border-radius: 0;
          color: var(--theme-color1);
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(151 89 89);
}
  @media (min-width: 320px) and (max-width: 480px) {
   
        .pdf-full-view {
            width: 100% !important;
        }
        .top-nav-menu {
            width: 100%;
            
        }
        .top-nav-menu .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            line-height: 1.5;
        }
      
  }
 