@media (max-width: 767px) {
    .grid-line-container {
        display: none;
    }

    .flex-item {
        flex-basis: 100% !important;
        width: 100%;
    }

    .photo-card {
        flex-basis: 95%;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-wraper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-col {
        width: 100%;
    }

    [shadow-line] {
        font-size: 50px;
    }

    .front-text {
        font-size: 20px;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    footer .navbar {
        display: block;
    }

    .navbar {
        width: 100%;
        height: inherit;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        margin-left: -10px;
    }

    .aqil-main {
        width: 90%;
        margin-top: 15px;
    }

    .rl-title {

        font-size: 20px;

    }

    .normal-heading {
        font-size: 25px;
    }

    .grid__item {
        margin: 0;
        margin-top: 25px;
    }

    .box__title {
        right: 0;
        writing-mode: horizontal-tb;

    }

    .box__title--bottom {
        top: -50px;
    }



    .box__title-inner[data-hover] {
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;

    }

    .box__title-inner {
        font-size: 15px;
    }

    .spacethis {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .grid {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .grid__item {

        flex-basis: 50%;
    }

    .grid__item .box {
        position: relative;
        margin: 20px;
    }

    .box__shadow {

        top: -8px;
        left: -8px;
    }

    .about-quote {
        font-size: 17px;
        line-height: 1.5;
        text-align: center;
        width: 90%;
        margin: auto;
        position: relative;
        padding-right: 0;
    }

    .navbar {
        margin-left: 0px !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center !important;
    }

    .about-img {
        display: none;
    }

    .top-title {
        font-size: 30px;
    }

    .tp-title {
        font-size: 18px;
        margin-top: 0px;
    }

    .rl-title {
        display: none;
    }

    .aqil-main {
        width: 90%;
        margin-top: 15px;
        margin: auto;
    }

    .aqil-main .box__shadow {
        display: none;
    }

    .main-hero.spacer-bottom {
        padding-bottom: 0;
    }

    .about-quote.spacer-top {
        padding-top: 0;
    }

    footer {
        min-height: 110px;
    }

    .swiper-full-mobile:before {
        width: 165px;
        height: 375px;
    }

    .swiper-slide.swiper-slide-active img {
        border-radius: 10px;
    }

    .swiper-full-mobile {
        margin: 0 auto;
        margin-top: 30px;
    }


    .swiper-full-mobile .swiper-slide img {
        height: 335px;
        object-fit: cover;
        width: 150px;
    }

    .swiper-full-mobile:before {
        left: 30px;
    }

    .menu-button {
        position: absolute;
        top: 10px;
        left: 20px;
        padding: 8px;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
        background-color: #000;
        cursor: pointer;
        z-index: 1000;
        border-radius: 3px;
    }


.bar {
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px auto;
    -webkit-transition: .3s;
    transition: .3s;
}
.box {
    display: none;
}
.button-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.filter-button {
    border-radius: 20px !important;
    padding: 4px 11px !important;
    white-space: nowrap;
}
.work {
    margin: 27px auto;
    margin-top: 50px;
}
.photo-card {
    flex-basis: 45%;
   
}
.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 4px 4px 0px #c6412a3b;
    border-radius: 3px;
    object-position: top;
}
.photo-card-img {
    width: 100%;
    height: 190px;
    position: relative;
}
.photo-card-wrapper h4 {
    margin: 0;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: -9px;
}
}