@media (min-width: 320px) and (max-width: 480px) {
    .hero-section {
        height: 100%;
    }
    .swiper-loop .swiper-slide {
        font-size: 15px;
    }
    .container {
        max-width: 95% !important;
        width: 95% !important;
    }
    .mid-top {
        display:flex;
        flex-direction: column;
        gap:10px; 
        margin-top:10px;
        margin-bottom:10px;
    }
    .work-art svg {
        width: 100%;
        height: 220px;
        margin-top: 0;
    }
    .mid-top {
        /* height: 300px; */
    }
    .right-top-left {
        grid-template-rows: 0.8fr 0.8fr;
    }
    .fl-inline {
        flex-direction: column;
        margin-top: 50px;
    }
    .top-left {
        display:flex;
        flex-wrap:wrap;
        gap: 12px;
    }
    .swiper-loop {
        margin: 40px auto;
        width: 100%;
    }
    
    .product-col {
        flex-basis: 100%;
    }
    embed {
        width: 100%;
    }
    .fl-inline li a {
        padding: 8px;
    }
    .style-text.work-text {
        font-size: 40px !important;
        text-align: center;
    }
    .m-center {
        text-align: center !important;
    }
    .style-text {
        font-size: 35px;
    }
    .about-art-animation svg {
        height: 300px;
    }
    .col-md-6 img {
        max-width: 100%;
    }
    .circle-art {
        width: 98%;
        height: 315px;
      
    }
    .abt-frame {
        z-index: 1;
        top: -56px !important;
        left: 27px;
}
    .hero-cirle-img {
        width: 65%;
    position: relative;
    top: -19px;
    left: -8px;
    }
    .hero-text {
        text-align: center !important;

    }
    .hero-text * {
        text-align: center;
    }
    :root {
        --spacer-value: 40px;
    }
    .service-row .card {
        margin: 0;
    }
    .service-row .card .card-link {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .cta h1 {
        font-size: 30px;
      
    }
    .cta {
        background-size: cover;
    }
    #portfolio li {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-box {
        margin-bottom: 15px;
        height: 215px;
    }
    .contact-form {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .testimonial-section .user-saying {
        width: 100%;
    }
    .testi-user-img {
        width: 100%;
    }
    .testimonial-section .quote {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .testimonial-section {
        display: block;
    }
    .gallery-thumbs .swiper-slide {
        width: 200px;
        height: 280px;
    }
    .scroll-menu {
        display: flex;
    }
    .fixed-navigator {
        width: 96%;
        left: 0;
        z-index: 100;
        height: 58px;
        bottom: 5px;
        top: inherit;
        padding-top: 6px;
    }
   .nav-absolute #navbarNav {
       background: var(--theme-color);
   }
   .navbar-light .navbar-toggler {
    background: var(--theme-color1);
    border: none;
}

.user-saying .testimonial>.swiper-pagination-bullets {
    display: none;
}
}