
[shadow-line] {
  display: inline-block;
  font-size: 120px;
  text-shadow: 0.03em 0.03em 0 #d4a997;
  position: relative;
  z-index: 10;
  margin: 0;
}

[shadow-line]:after {
  width: 100%;
  content: attr(data-text);
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      var(--shadow-line-color) 45%,
      var(--shadow-line-color) 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}

.word {
  perspective: 1000px;
  perspective-origin: 200px 40px;
  display: flex;
}

.word span {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.space {
  width: 30px;
}

.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: 0% 100% 0px;
}


.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}


.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}


.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}


.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {

  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}